doctype html
html
  head
    title Nouvelle panne déclarée
  body
    h1 Nouvelle panne déclarée
    p 
      strong Immatriculation du taxi: 
      | #{taxi}
    p 
      strong Conducteur: 
      | #{driver}
    p 
      strong Type de panne: 
      | #{breakdownType}
    p 
      strong Description: 
      | #{description}