doctype html
html
  head
    title Nouveau problème déclaré
  body
    h1 Nouveau problème déclaré
    p
      strong Conducteur: 
      | #{driver}
    p
      strong Description: 
      | #{description}